{%extends 'director/base.html'%}
{% load static %}
{% block content %}
<div class="container">
	<div class="alert alert-primary" role="alert">
		<h2>Eliminar: {{ object.nombreA }}</h2>
	</div>
</div>
<div class="container">
	<form method="POST">
		<div class="alert alert-primary" role="alert">
			{% csrf_token %} 
			<p>¿Seguro que desea eliminar: <strong>{{ object.nombreA }}</strong>?</p>
			<button onclick="elimina()" id="errorAlert" class="btn btn-danger">Borrar</button>
		</div>
	</form>
	<p onclick="cancelar()">
		<button onclick="location.href='/alumnos'" class="btn btn-secondary"> CANCELAR </button>
	</p>
</div>

<script type="text/javascript">
	function cancelar(){
		Swal.fire({
			position: 'center',
			icon: 'error',
			title: 'Cancelado',
			showConfirmButton: false,
			timer: 1500
		})
	}
</script>
{% endblock %}